@model RestaurantBusiness.Restaurant

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<div>
    <h4>Restaurant</h4>

    <h3>Are you sure you want to delete this?</h3>
    <hr />
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <td>
                @Html.DisplayFor(model => model.name)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <td>
                @Html.DisplayFor(model => model.address)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <td>
                @Html.DisplayFor(model => model.email)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <td>
                @Html.DisplayFor(model => model.phone)
            </td>
        </tr>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
