@model RestaurantBusiness.Restaurant

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Restaurant</h4>
    <hr />
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <td>
                @Html.DisplayFor(model => model.name)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <td>
                @Html.DisplayFor(model => model.address)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <td>
                @Html.DisplayFor(model => model.email)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <td>
                @Html.DisplayFor(model => model.phone)
            </td>
        </tr>
    </table>
</div>
<div class="row">
    @foreach (var item in ViewBag.reviews)
    {
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5><b>Reviewer's Name:</b> @item.reviewer</h5><hr />
                    <h5><b>Rating:</b> @item.rating</h5><hr />
                    <h5><b>Comments:</b> @item.comments</h5><hr />
                    @Html.ActionLink("Edit", "Edit", "Reviews", new { id = Model.id }, null) | 
                    @Html.ActionLink("Delete", "Delete", "Reviews", new { id = Model.id }, null)
                </div>
            </div>
        </div>
        <br />
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Create Review", "Create", "Reviews")
</p>