@model IEnumerable<RestaurantDL.Restaurant>

@{
    ViewBag.Title = "Index";
}

<h2>All Restaurants</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr><th>Name:</th><th>Address:</th><th>Email:</th><th>Phone:</th></tr>
    @foreach(RestaurantDL.Restaurant item in ViewBag.restaurants)
    {
        <tr>
            <td>
                @Html.ActionLink(item.name, "Details", new { id = item.id })
            </td>
            <td>
                @item.address
            </td>
            <td>
                <a href="mailto:@item.email">@item.email</a>
            </td>
            <td>
                @item.phone
            </td>
            <td>
                @Html.ActionLink("Reviews", "Index")
            </td>
        </tr>
    }
</table>