@model IEnumerable<RestaurantDL.Restaurant>

@{
    ViewBag.Title = "Restaurants";
}

<h2>All Restaurants</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-bordered table-striped" id="restaurants">
    <thead class="thead-light"><tr><th>Name:</th><th>Address:</th><th>Email:</th><th>Phone:</th><th></th></tr></thead><tbody>
    @foreach (RestaurantDL.Restaurant item in ViewBag.restaurants)
    {
        <tr>
            <td>
                @Html.ActionLink(item.name, "Details", new { id = item.id })
            </td>
            <td>
                @item.address
            </td>
            <td>
                <a href="mailto:@item.email">@item.email</a>
            </td>
            <td>
                @item.phone
            </td>
            <td>
                @Html.ActionLink("Reviews", "Index", "Reviews")
            </td>
        </tr>
    }
    </tbody>
</table>