@model IEnumerable<RestaurantDL.Review>

@{
    ViewBag.Title = "Reviews";
}

<h2>All Reviews</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-bordered table-striped" id="reviews">
    <thead class="thead-light"><tr><th>Reviewer:</th><th>Restaurant:</th><th>Rating:</th><th>Comments:</th><th></th></tr></thead><tbody>
    @foreach (RestaurantDL.Review item in ViewBag.reviews)
    {
        <tr>
            <td>
                @Html.ActionLink(item.reviewer, "Details", new { id = item.id })
            </td>
            <td>
                @item.Restaurant.name
            </td>
            <td>
                @item.rating
            </td>
            <td>
                @item.comments
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
</tbody>
</table>