@model IEnumerable<RestaurantBusiness.Review>

@{
    ViewBag.Title = "Reviews";
}

<h2>All Reviews</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-striped" id="restaurants">
    <thead class="thead-light"><tr><th>Restaurant:</th><th>Reviewer:</th><th>Rating:</th><th>Comments:</th></tr></thead>
    <tbody>
        @foreach (RestaurantBusiness.Review item in ViewBag.reviews)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Restaurant.name, "Details", new { id = item.id })
                </td>
                <td>
                    @item.reviewer
                </td>
                <td>
                    @item.rating
                </td>
                <td>
                    @item.comments
                </td>
            </tr>
        }
    </tbody>
</table>